.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 90vh;
}

.home--loggedin{
    justify-content: space-around;
    min-height: 50vh;
}

.home__title{
    font-size: 3rem;
}