.spinner{
    width: 50px;
    height: 50px;
    background: rgb(166, 178, 241);
    opacity: 0.5;
    border-radius: 50%;
    animation: spinner 0.5s ease infinite alternate;
}

@keyframes spinner {

    to {
        opacity: 1;
        transform: scale(1.5);
    }

}